<% if signed_in? %>
  <h1>YOUR GROUPS</h1>
  <% if check_membership? %>
    <% current_user_groups.each do |group| %>
    <ul>
      <li><%= link_to group.name, group_path(group, :current_group => group) %></li>
    </ul>
    <% end %>
  <% else %>
    <h1><%= link_to 'Join A Group', new_membership_path %></h1>
  <% end %>
<% end %>
