<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
     <%= render 'groups' %>
    </div><!-- side-menu -->

    <div id="main-content" class="col-sm-9">
     <%= render 'user_post' %>



    </div><!-- main-content -->

  </div><!-- row -->
</div><!-- container -->
