<link rel= "stylesheet", href="https://fonts.googleapis.com/css?family=Lato", type="text/css" />

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= render 'layouts/nav/header'%>

    <%= render 'layouts/nav/links' %>
  </div>
</nav>
